.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  padding: 40px;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  border-top: 3px solid #4c63af;
  border-bottom: 3px solid #4c63af;
}

.parallax .scroller {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 6rem;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  font-family: "Lilita One";
  -webkit-text-stroke: 2px #4c63af;
  color: #fbefe1;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    /* margin-bottom: 5px; */
    padding: 40px;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    border-top: 3px solid #4c63af;
    border-bottom: 3px solid #4c63af;
  }

  .parallax .scroller {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 5rem;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Lilita One";
    -webkit-text-stroke: 2px #4c63af;
    color: #fbefe1;
  }
}
